.navigation{
    position: absolute;
    right: 0;
    top:72px;
    background-color:gray;
    height:100vh;
    width:320px;
    padding:10px;

}
.navigation__list{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.navigation__item{
    font-size: 30px;
    text-align: center;
    
}
.navigation__link{
    color:#fff;
}
.active{
    display: block;
   transition: height all 0.3s;
}